<h1> <%= @user.username %> </h1>

<h2> Commented on post </h2>
<ul>
<% @user.comments.each do |c| %>
    <li>
    <% #binding.pry%>
        <%= link_to c.post.title, post_path(c.post) %> <br>
        <%= c.content %>
    </li>
    <hr>
<% end %>
</ul>
